<div class="flex flex-col m-5">
  <div class="w-full m-auto">
    <% if @user == current_user %>
      <%= render @notifications.where(checked: false) %>
    <% end %>
  </div>
  <div class="w-full flex">
    <div class="m-5 w-1/6 border border-black">
    </div>
    <div class="m-5 w-4/6">
      <div class="font-bold text-4xl m-2"><%= @user.name %></div>
      <div class="font-bold text-4xl m-2"><%= @user.email %></div>
    </div>
  </div>
</div>
