<div>
  <h1 class="font-bold text-4xl">Rooms#index</h1>
  <div id="messages">
    <%= render @messages %>
  </div>
  <form>
    <label>Say something:</label><br>
    <input type="text" data-behavior="room_speaker">
  </form>
</div>
